</body>
<p>[Footer]</p>
<footer>
  <p id="endpoints">
    Endpoints:
    <ul>
      <li><a href="/new_transaction">new transaction</a></li>
      <li><a href="/view_transactions">your transactions</a></li>
      <li><a href="">update profile</a></li>
      <li><a href="">view your profile</a></li>
      <li><a href="">friends list</a></li>
      <li><a href="">add friends</a></li>
<!--       <li><a href=""></a></li> -->
      <li><a href="">logout</a></li>
    </ul>
  </p>
  <p id="disclamer">
    Legal Disclamer:
  </p>
  <script src="/js/script.js"></script>
</footer>