<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/friends">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_transaction">New Transaction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view_transactions">View Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_card">New Card</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view_cards">View Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>