<body>
  <p>
    User endpoints:
    <ul>
      <li>/api/create_user</li>
      <li>/api/get_user</li>
      <li>/api/get_users</li>
      <li>/api/update_user</li>
      <li>/api/delete_user</li>
    </ul>
  </p>
  
  <p>
    Transaction endpoints:
    <ul>
      <li>/api/create_transaction</li>
      <li>/api/get_transaction</li>
      <li>/api/get_transactions</li>
      <li>/api/update_transaction</li>
      <li>/api/delete_transaction</li>
    </ul>
  </p>
  
  <p>
    other endpoints:
    <ul>
      <li>/api/</li>
    </ul>
  </p>
</body>