<%-include("partials/header.ejs")%>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/friends">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_transaction">New Transaction</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>

  <h3>Add a friend:</h3>
  <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username of User" name="uname" required>


<%-include("partials/footer.ejs")%>