<%-include("partials/header.ejs")%>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/friends">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_transaction">New Transaction</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>

  <form action="/friends">
  <h3>Add a friend:</h3>
  <label for="otheruname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username of User" name="otheruname" required>
    <button type="submit">Send Request</button>
  </form>
  
  <br>

  <div>
    <b>Your Friends:</b><br>
    <% for(element in friendsList) { %>
      <%=friendsList[element].username%>
      <% if(friendsList[element].is_accepted === 0) { %>
        (Request Pending)
      <% } %>
      <br>
    <% } %>

    <br>
    <b>Friend Requests:</b><br>
    <% for(element in incomingRequests) { %>
      From: <%=incomingRequests[element].username%><br>
    <% } %>

  
  </div>
  <br>

<%-include("partials/footer.ejs")%>