<%-include("partials/header.ejs")%>
  
<body>
  <!--
  <p>OtterBucks</p>
  <p>
    <a href="/login">login</a> or <a href="/signup">signup</a>
  </p>
  -->
  <br><br><br><br>
  <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://c1.staticflickr.com/7/6136/5959591140_2b66b348d0_b.jpg"
          class="img-fluid rounded" alt="Sample image">
      </div>
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/login" method="POST">

          <% if(typeof loginError != "undefined" && loginError) { %>
              <h4 class="error" style="color: red" >Wrong credentials. Try again.</h4> 
          <% }%> 
          <% if(typeof success != "undefined" && success) { %>
              <h4 class="success" style="color: green" >Account created successfully.</h4> 
          <% }%></p>
          <p class="lead fw-normal mb-0 me-3">Sign in</p>
          <br>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" name="uname" class="form-control form-control-lg"
              placeholder="Enter username" />
            <label class="form-label" for="form3Example3">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="psw"  class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>

            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
</body>
  
<%-include("partials/footer.ejs")%>