<%- include("partials/header.ejs") %>

<form action="/signup" method="POST">
  <div >
    <label for="uname"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    
    <label for="psw-repeat"><b>Password:</b></label>
    <input type="password" placeholder="Re-enter Password" name="psw_repeat" required>
        
  
    <button type="submit">Sign Up</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
      <% if(typeof signupError != "undefined" && signupError) { %>
      <h4 class="error" style="color: red" >Username is taken. Please try again.</h4> 
    <% }%> 

<%- include("partials/footer.ejs")%>